<h1>Listing contact_user_assocs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_user_assocs.each do |contact_user_assoc| %>
  <tr>
    <td><%= contact_user_assoc.user_id %></td>
    <td><%= contact_user_assoc.contact_id %></td>
    <td><%= link_to 'Show', contact_user_assoc %></td>
    <td><%= link_to 'Edit', edit_contact_user_assoc_path(contact_user_assoc) %></td>
    <td><%= link_to 'Destroy', contact_user_assoc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact user assoc', new_contact_user_assoc_path %>
